* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('Fondo_de_Web.jpg');
  }
  
  .Formulario-Registro {
    width: 800px;
    height: 550px;
    background: #24303c;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .Formulario-Registro h4 {
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 2px white solid;
  }
  
  .Data
   {
    width: 200px;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-left: 5px;
    margin-bottom: 16px;
    border: 1px solid #FFB60E;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }

  .P1{
    position: absolute;
    margin-left: 0%;
  }

  .P2{
    position: absolute;
    right: 25%;
  }

  .P3{
    position: absolute;
    margin-left: 6.5%;
    top: 26%;
  }

  .P4{
    position: absolute;
    right: 25%;
    top: 26%;
  }

  .P5{
    position: absolute;
    margin-left: 4.5%;
    top: 35%;
  }

  .P6{
    position: absolute;
    right: 25%;
    top: 35%;
  }

  .P7{
    position: absolute;
    margin-left: 5%;
    top: 45%;
  }

  .P8{
    position: absolute;
    right: 25%;
    top: 45%;
  }

  .Pie_de_Pagina{
    margin-top: 300px;
  } 




  .Formulario-Registro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .Formulario-Registro a {
    color: white;
    text-decoration: none;
  }
  
  .Formulario-Registro a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .Formulario-Registro .Botón {
    width: 100%;
    background: #FFBE31;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 20px;
  }

  .Formulario-Registro .Botón:hover {
    width: 100%;
    background: #FFA200;
    cursor: pointer; 
  }

